<% include ./partials/header %>

<div class="container">
    <h1 class="text-center page-header">About Black Voices</h1>
    <div class="row">
        <div class="col-md-6 text-left">
            <p class="AboutText">Black Voices Bookstore is a Afrikan owned and operated bookstore located in San Antonio, Texas. We serve the San Antonio area immediately, but also offer shipping services to allow Afrikans not in the immediate area the opportunity to Buy Black and support our business. We offer a large selection of books related to the world Afrikan experience. In addition, we have suppliers that can ship us books on demand, which allows you to <a href="OrderForm.html">order</a> books that we do not currently have in our inventory. </p>
        </div>
        <div class="col-md-6">
            <div class="map-container embed-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3475.922778884651!2d-98.43536168489987!3d29.401814982120744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865cf6f3bed244e9%3A0x51bddde082d6f261!2s1843+Peck+Ave%2C+San+Antonio%2C+TX+78210!5e0!3m2!1sen!2sus!4v1450913600750" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>