<% include ./partials/header %>

<!------------------End of Navigation------------------>
<div class="jumbomain text-center">
      <div class="jumbotext">
        <h1>Black Voices Bookstore</h1>
        <hr width="20%">
        <h2>Books and Cultural Items that Reflect Your Blackness</h2>
        <a href="/shop"><button class="button btn btn-default" id="btn-custom">View Products</button></a>
      </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center feathead">
			<h1>Featured Items</h1>
		</div>
	<div class="row">
		<div class="col-md-6 featitems">
			<img class="img-responsive center-block" src="./imgs/GRV.png" alt="Great Rift Valley" width="700" height="494">
			<h3>Great Rift Valley</h3>
			<p class="text-center">Explore the origins of humanity and discover how Afrikans migrated northwards along the Nile River to develop civilization and greatness for 3000 years and 4000 miles</p>
			<h6><a href="/shop#hiscul">Check out Books on early Afrikan Civilization</a></h6>
		</div>
		<div class="col-md-6 featitems">
			<img class="img-responsive center-block" src="./imgs/Ikin.png" alt="Ifa Divination Tray" width="700" height="494">
			<h3>Ifa Divination</h3>
			<p class="text-center">Our stock includes several informative works discussing the Ifa tradition of the Yoruba people. Reclaim your spiritual traditions and reconnect with your ancestors</p>
			<h6><a href="/shop#spirit">Check out Books on Afrikan Spiritual Culture</a></h6>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 featitems">
			<img class="img-responsive center-block" src="./imgs/Djembe.png" alt="Drummers" width="700" height="494">
			<h3>Djembe CDs and DVDs</h3>
			<p class="text-center">Listen to the timeless rhythms of West Afrikan percussion. Selections from Famadou Konate, Mamady Keita, Asase Yaa, Farafina Kan, and the OBU's own Dinekura Kan (Sound of the New World) </p>
			<h6><a href="ShopMedia.html">Afrikan Music</a></h6>
		</div>
		<div class="col-md-6 featitems">
			<img class="img-responsive center-block" src="./imgs/Kwanzaa.png" alt="Kwanzaa Table" width="700" height="494">
			<h3>It's Kwanzaa Time!</h3>
			<p class="text-center">The end of the year is here. It is time for reflection, celebration, and recommittment to the principles that hold our people together. Be sure to reward your loved ones with gifts from Black Voices.</p>
			<h6><a href="#">View Our Selection of Afrikan Clothes and Art</a></h6>
		</div>
	</div>
</div>
</div>

<% include ./partials/footer %>