</div>
  <div id="footer">
    <footer>
      <div class="container-fluid footer">
        <div class="row text-center">
          <p>&copy 2015 Organization for Black Unity, Inc.</p>
        </div>
        <div class="col-md-3 foottitle">
          <h4>Shop Links</h4>
          <ul class="footlinks">
            <li><a href="ShopBooks.html">Books</a></li>
            <li><a href="ShopClothes.html">Clothes</a></li>
            <li><a href="ShopMedia.html">Media</a></li>
            <li><a href="ShopArt.html">Art</a></li>
          </ul>
        </div>
        <div class="col-md-3 foottitle">
          <h4>Get In Touch</h4>
          <ul class="footlinks">
            <li><a href="AboutBVB.html">About Us</a></li>
            <li><a href="ContactUs.html">Contact Us</a></li>
            <li><a href="ShopMedia.html">Vending Opportunities</a></li>
            <li><a href="OrderForm.html">On-Demand Ordering</a></li>
          </ul>
        </div>
        <div class="col-md-3 foottitle">
          <h4>Other Enterprises</h4>
          <ul class="footlinks">
            <li><a href="http://www.sankofabusinessgroup.com"><img class="otherlogo" src="/imgs/SBGLogo.png" alt="SBG" width="40" height="40">Sankofa Business Group</a></li>
            <li><a href="#"><img class="otherlogo" src="/imgs/SG.png" alt="SBG" width="40" height="40">Sankofa Organic Gardens</a></li>
          </ul>
        </div>
        <div class="col-md-3 foottitle">
          <h4>Share the Word</h4>
          <ul class="footlinks">
            <li class="footicon icons"><a href="https://www.facebook.com"><img src="/imgs/facebook.png" alt="facebook" width="30" height="30"></a></li>
            <li class="footicon icons"><a href="https://www.twitter.com"><img src="/imgs/twitter.png" alt="twitter" width="30" height="22.5"></a></li>
            <li class="footicon icons"><a href="https://www.instagram.com"><img src="/imgs/instagram.png" alt="instagram" width="30" height="30"></a></li>
          </ul>
        </div>
    </footer>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!--<script src="https://use.fontawesome.com/9e9872e552.js"></script>-->
</div>	
</body>
</html>