<html>
<head>
	<title>Black Voices Bookstore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico">
</head>
<body>
  <div id="wrapper">
    <div id="header">


      <nav class="navbar navbar-default">
        <div class="container-fluid header">
        <div class="row headerrow">
          <div class="col-md-4 col-xs-12 nav-title">
            <a href="/index">
              <img class="img-responsive" src="/imgs/BVB.png" width="70" height="70">
            </a>
            <h5>BLACK VOICES BOOKSTORE</h5>
          </div>
          <div class="col-md-4 col-xs-12 nav-center text-center">
          <h3><span>An Enterprise of the</span> <br>Organization for Black Unity, Inc.</h3>
          </div>
            <ul id="nav" class="col-md-4 col-xs-12">
              <li class="headeractive"><a href="/index">HOME</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/contact">CONTACT</a></li>
              <li><a href="/shop">SHOP</a>
                <ul>
                  <li><a href="/shop/books">BOOKS</a>
                  <li><a href="/shop/media">MEDIA</a>
                  <li><a href="/shop/art">ART</a>
                  <li><a href="/shop/clothes">CLOTHES</a>
                </ul>
              </li>
              <li><a href="/order">ORDER</a></li>
              <li><a href="/account">ACCOUNT</a>
                <ul>
                  <% if(!account) { %>
                  <li><a href="/login">LOGIN</a></li>
                  <li><a href="/register">SIGNUP</a></li>
                  <% } else { %>
                  <li class="acctnav"><a href="#">Signed in as <%= account.username.toUpperCase() %></a></li>
                  <li class="acctnav"><a href="/logout">LOGOUT</a></li>
                  <% } %>
                </ul>
              </li>
              <li><a href="/cart">CART</a></li>
            </ul>
        </div>
        </div>
      </nav>
      <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
          <%- success %>
      </div>
      <% } %>
      <% if(errors && errors.length > 0){ %>
      <div class="alert alert-danger" role="alert">
          <%- errors %>
      </div>
      <% } %>
      </div>

<div id="content">