<% include ./partials/header %>

<div class="container-fluid bground">
    <div id="landing">
        <h1>Welcome to Black Voices Books</h1>
        <h2>Books and Cultural Items that Reflect Your Blackness</h2>
        <hr>
        <a class="buttonland btn btn-success btn-lg" href="/index">Enter Here</a>
    </div>
</div>



</body>
</html>


<% include ./partials/footersimple %>